.custom-button {
	margin-left: auto !important;
	margin: 0.4rem 0.2rem 0.4rem 0.8rem;  
}

.error-box {
	padding: 15px;
	font-size: 10px;
	color: red;
	font-style: italic;
}

.error .item-inner {
    border-bottom: 3px solid red !important;	
}